<%= form_for(@internship_application) do |f| %>
  <% if @internship_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@internship_application.errors.count, "error") %> prohibited this internship_application from being saved:</h2>

      <ul>
      <% @internship_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :job_id %><br>
    <%= f.number_field :job_id %>
  </div>
  <div class="field">
    <%= f.label :answer1 %><br>
    <%= f.text_field :answer1 %>
  </div>
  <div class="field">
    <%= f.label :answer2 %><br>
    <%= f.text_field :answer2 %>
  </div>
  <div class="field">
    <%= f.label :answer3 %><br>
    <%= f.text_field :answer3 %>
  </div>
  <div class="field">
    <%= f.label :answer4 %><br>
    <%= f.text_field :answer4 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
