<p id="notice"><%= notice %></p>

<h1>Listing Internship Applications</h1>

<table>
  <thead>
    <tr>
      <th>Job</th>
      <th>Applicant</th>
      <th>Answer 1</th>
      <th>Answer 2</th>
      <th>Answer 3</th>
      <th>Answer 4</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @internship_applications.each do |internship_application| %>
      <tr>
        <td><%= internship_application.job_id %></td>
        <td><%= internship_application.applicant_id %></td>
        <td><%= internship_application.answer1 %></td>
        <td><%= internship_application.answer2 %></td>
        <td><%= internship_application.answer3 %></td>
        <td><%= internship_application.answer4 %></td>
        <td><%= link_to 'Show', internship_application %></td>
        <td><%= link_to 'Edit', edit_internship_application_path(internship_application) %></td>
        <td><%= link_to 'Destroy', internship_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Internship application', new_internship_application_path %>
