<head>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.js"></script>
  <!--link rel='stylesheet' href='fullcalendar/fullcalendar.css' /-->
  <!--script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script-->

  <!--script src='lib/jquery.min.js'></script-->
  <!--script src='lib/momentjs.min.js'></script-->
  <!--script src='fullcalendar/fullcalendar.js'></script-->
</head>

<h1>Posted Jobs</h1>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Qualifications</th>
      <th>Postedon</th>
      <th>Deadline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.description %></td>
        <td><%= job.qualifications %></td>
        <td><%= job.postedon %></td>
        <td><%= job.deadline %></td>
        <td><%= link_to 'Show', job, class: "btn btn-link" %></td>
        <td><%= link_to 'Edit', edit_job_path(job), class: "btn btn-link" %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
        <td><%= link_to 'Check Applicants', viewapplicants_adminusers_path(:job_id => job.id),  class: "btn btn-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path, class: "btn btn-link" %>
<%= link_to 'Add Admin', new_adminuser_path, class: "btn btn-link" %>

<div id="calendar">
</div>
