<%= form_for(@adminuser) do |f| %>
  <% if @adminuser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adminuser.errors.count, "error") %> prohibited this adminuser from being saved:</h2>

      <ul>
      <% @adminuser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
   <%= f.label :firstname %><br>
   <%= f.text_field :firstname, class:"form-control" %>
 </div>
 <div class="form-group">
   <%= f.label :lastname %><br>
   <%= f.text_field :lastname, class:"form-control" %>
 </div>
 <div class="form-group">
   <%= f.label :contact %><br>
   <%= f.text_field :contact, class:"form-control" %>
 </div>
 <div class="form-group">
   <%= f.label :email %><br>
   <%= f.text_field :email, class:"form-control" %>
 </div>
 <div class="form-group">
   <%= f.label :password %><br>
   <% if @minimum_password_length %>
   <em>(<%= @minimum_password_length %> characters minimum)</em>
   <% end %>
   <%= f.password_field :password, class:"form-control" %>
 </div>
 <div class="form-group">
   <%= f.label :passwordconfirmation %><br>
   <%= f.password_field :passwordconfirmation, class:"form-control" %>
 </div>
 <div class="form-group">
   <%= f.submit class:"btn btn-primary"%>
 </div>
<% end %>
