<head>
<html xmlns="http://www.w3.org/1999/xhtml">

<h1>Applicant Information</h1>
<ol>
<li>Schedule Interview for </li>
<li><%= link_to @user.firstname,pages_contact_path  %></li>
<li>Schedule Interview for </li>
<li><%= @user2.firstname %></li>
</ol>
<%= link_to "Go Back", jobs_path %>

<%= content_tag :div, class: "temp_information", data: { Mailtester: @Mailtester} do %>
<% end %>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/redmond/jquery-ui.css">

    <script type="text/javascript">
    $( document ).ready(function() {

      $("#poll").click(function() {
          $("#myDialog").dialog({height: 'auto', buttons: { "OK": function() { var answer; answer=$("#datepicker").val() ;$.ajax({type: 'GET', url: '/adminusers/sendemails',dataType: 'script',data: { subject: ("Interview scheduled for "+ answer) }  }); $(this).dialog("close"); } } });
      });
   });

    </script>

</head>
<body>
    <button id="poll">Click to Schedule Interview</button>
    <div id="myDialog" class="flora" title="Schedule Interview options" style="display: none;">
      <br>
      <p>Interview Scheduling Options for</p>
      <%= @user.firstname %></li><br/>
      <br>
      <label for="yes">Send Email Invitation :)</label><input type="radio" id="yes" value="yes25" name="question">
      <br/>
      <br>
      <label for="no">Send Rejection Mail   :( </label><input type="radio" id="no" value="no" name="question">
      <br/>
        <!-- add styles -->
      <link href="css/ui-lightness/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" type="text/css" />

      <!-- add scripts -->
      <script src="js/jquery.191.js"></script>
      <script src="js/jquery-ui-1.9.2.custom.min.js"></script>

        <!--Interview Date(MM/DD/YY): <input type="text" id="first_name" />
        Interview Time: <input type="text" id="time_name" /> -->

        <!-- Adding calendar functionality-->
        Interview Date: <input id="datepicker" type="text" />

        <script>
           $(function(){
             $.datepicker.setDefaults(
               $.extend($.datepicker.regional[''])
             );
             $('#datepicker').datepicker();
           });
         </script>

    </div>

    <div style='color: green;' id='result'>
    </div>

</body>
</html>
