
<div class="field">
  <%= fa.label :first_name %><br>
  <%= fa.text_field :first_name %>
</div>
<div class="field">
  <%= fa.label :last_name %><br>
  <%= fa.text_field :last_name %>
</div>
<div class="field">
  <%= fa.label :email %><br>
  <%= fa.text_field :email %>
</div>
<div class="field">
  <%= fa.label :contact %><br>
  <%= fa.text_field :contact %>
</div>
<div class="field">
  <%= fa.label :gpa %><br>
  <%= fa.text_field :gpa %>
</div>
<div class="field">
  <%= fa.label :credit_hours %><br>
  <%= fa.number_field :credit_hours %>
</div>
