
<h1>Volunteer</h1>
<div class="field">
  <%= fa.label :first_name %><br>
  <%= fa.text_field :first_name %>
</div>
<div class="field">
  <%= fa.label :last_name %><br>
  <%= fa.text_field :last_name %>
</div>
<div class="field">
  <%= fa.label :email %><br>
  <%= fa.text_field :email %>
</div>
<div class="field">
  <%= fa.label :contact %><br>
  <%= fa.text_field :contact %>
</div>
