<%= stylesheet_link_tag 'applicant_show_job' %>
<div class="panel panel-default col-xs-6 col-xs-offset-3" id="jobdetails">
  <div class="panel-heading">
    <h3 class="panel-title">Job details</h3>
  </div>
<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Qualifications:</strong>
  <%= @job.qualifications %>
</p>

<p>
  <strong>Postedon:</strong>
  <%= @job.postedon %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @job.deadline %>
</p>

<%= link_to "Apply Now", pages_applicant_apply_job_path(:job_id => @job.id), class: "btn btn-primary col-xs-6 col-xs-offset-3" %>
</div>
