<h1>Review your submission</h1>
  <p> First Name: <%= @applicant.first_name %></p>
  <p> Last Name: <%= @applicant.last_name %></p>
  <p> Email: <%= @applicant.email %></p>
  <p> Contact: <%= @applicant.contact %></p>
  <p> GPA: <%= @applicant.gpa %></p>
  <p> Credit Hours: <%= @applicant.credit_hours %></p>
<br/>
<b><hr/></b

<h1>Questions</h1>
 <p> Why would you like to intern for the United Way of the Brazos Valley? <%= @answer1 %></p>
<p> How would your background enable you to succeed in that role at UWBV? <%= @answer2 %></p>
<p> Have you ever interned in the United Way of Brazos Valley or other United Way sites before? <%= @answer3 %></p>
<br/>
<b><hr/></b>
<%= link_to "Submit", pages_internship_application_success_path(:application_id => @application.id), class: "btn btn-primary" %>
