<%= form_for(@paidemployment_application),:url => paidemployment_application_path(:application_id => flash[:application_id]) do |f| %>
  <% if @paidemployment_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paidemployment_application.errors.count, "error") %> prohibited this paidemployment_application from being saved:</h2>

      <ul>
      <% @paidemployment_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :applicant_id %><br>
    <%= f.number_field :applicant_id %>
  </div>
  <div class="field">
    <%= f.label :job_id %><br>
    <%= f.number_field :job_id %>
  </div>
  <div class="field">
    <%= f.label :application_id %><br>
    <%= f.number_field :application_id %>
  </div>
  <div class="field">
    <%= f.label :referral_source %><br>
    <%= f.text_area :referral_source %>
  </div>
  <div class="field">
    <%= f.label :preferred_contact %><br>
    <%= f.text_area :preferred_contact %>
  </div>
  <div class="field">
    <%= f.label :availability_date %><br>
    <%= f.date_select :availability_date %>
  </div>
  <div class="field">
    <%= f.label :desired_salary %><br>
    <%= f.number_field :desired_salary %>
  </div>
  <div class="field">
    <%= f.label :transportation %><br>
    <%= f.check_box :transportation %>
  </div>
  <div class="field">
    <%= f.label :over_eighteen %><br>
    <%= f.check_box :over_eighteen %>
  </div>
  <div class="field">
    <%= f.label :work_proof %><br>
    <%= f.check_box :work_proof %>
  </div>
  <div class="field">
    <%= f.label :controlledsubstance_test %><br>
    <%= f.check_box :controlledsubstance_test %>
  </div>
  <div class="field">
    <%= f.label :a1 %><br>
    <%= f.text_area :a1 %>
  </div>
  <div class="field">
    <%= f.label :a2 %><br>
    <%= f.text_area :a2 %>
  </div>
  <div class="field">
    <%= f.label :a3 %><br>
    <%= f.text_area :a3 %>
  </div>
  <div class="field">
    <%= f.label :a4 %><br>
    <%= f.text_area :a4 %>
  </div>
  <div class="field">
    <%= f.label :a5 %><br>
    <%= f.text_area :a5 %>
  </div>
  <div class="field">
    <%= f.label :a6 %><br>
    <%= f.text_area :a6 %>
  </div>
  <div class="field">
    <%= f.label :a7 %><br>
    <%= f.text_area :a7 %>
  </div>
  <div class="field">
    <%= f.label :a8 %><br>
    <%= f.text_area :a8 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
