<p id="notice"><%= notice %></p>

<p>
  <strong>Applicant:</strong>
  <%= @paidemployment_application.applicant_id %>
</p>

<p>
  <strong>Job:</strong>
  <%= @paidemployment_application.job_id %>
</p>

<p>
  <strong>Application:</strong>
  <%= @paidemployment_application.application_id %>
</p>

<p>
  <strong>Referral source:</strong>
  <%= @paidemployment_application.referral_source %>
</p>

<p>
  <strong>Preferred contact:</strong>
  <%= @paidemployment_application.preferred_contact %>
</p>

<p>
  <strong>Availability date:</strong>
  <%= @paidemployment_application.availability_date %>
</p>

<p>
  <strong>Desired salary:</strong>
  <%= @paidemployment_application.desired_salary %>
</p>

<p>
  <strong>Transportation:</strong>
  <%= @paidemployment_application.transportation %>
</p>

<p>
  <strong>Over eighteen:</strong>
  <%= @paidemployment_application.over_eighteen %>
</p>

<p>
  <strong>Work proof:</strong>
  <%= @paidemployment_application.work_proof %>
</p>

<p>
  <strong>Controlledsubstance test:</strong>
  <%= @paidemployment_application.controlledsubstance_test %>
</p>

<p>
  <strong>A1:</strong>
  <%= @paidemployment_application.a1 %>
</p>

<p>
  <strong>A2:</strong>
  <%= @paidemployment_application.a2 %>
</p>

<p>
  <strong>A3:</strong>
  <%= @paidemployment_application.a3 %>
</p>

<p>
  <strong>A4:</strong>
  <%= @paidemployment_application.a4 %>
</p>

<p>
  <strong>A5:</strong>
  <%= @paidemployment_application.a5 %>
</p>

<p>
  <strong>A6:</strong>
  <%= @paidemployment_application.a6 %>
</p>

<p>
  <strong>A7:</strong>
  <%= @paidemployment_application.a7 %>
</p>

<p>
  <strong>A8:</strong>
  <%= @paidemployment_application.a8 %>
</p>

<%= link_to 'Edit', edit_paidemployment_application_path(@paidemployment_application) %> |
<%= link_to 'Back', paidemployment_applications_path %>


<%= link_to 'Submit Application', pages_paid_application_success_path %>
